body {
    margin: 0;
    padding: 0;
}

.main-container {
    width: 500px;
    height: 500px;
    background: #1F2937;
    text-align: center;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 10px;
}

.heading {
    color: white;
    font-weight: bold;
}

.random {
    color: #4ADF86;
}

.para {
    margin-top: -5px;
    color: #D5D4D8
}

input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 145px;
    text-align: end;
    margin-top: 15px;
    background: beige;
}

.btn {
    margin-top: 30px;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 9px;
    padding-right: 20px;
    padding-left: 15px;
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: darkgreen;
}

.btn-bolt {
    height: 15px;
    width: 15px;
    padding-right: 6px;
    padding-top: 5px;
}

.line {
    margin-top: 30px;
    width: 446px;
    border: 1px solid #2F3E53;
}

.second-container {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-column-gap: 0px;
}

.password-box {
    background: #273549;
    color: #55F991;
    width: 200px;
    height: 40px;
    line-height: 39px;
    margin:0 auto;
}

.password-box:hover {
    cursor: auto;
}

.copy-btn {
    width: 200px;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: #10B981;
    color: white;
    margin:0 auto;
}

.copy-btn:hover {
    cursor: pointer;
    background-color: darkgreen;
}
